@import "variables";

html {
    font-family: $font-family;
    // background-color: aquamarine;
}

body, h1, h2 {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: var(--base-margin);
    margin-right: var(--base-margin);
}