:root {
    --font-color: #{$White};
    --footer_background: #{$Black};
    --paragraph-color: #{$Dark-gray};
    --heading-color: #{$Very-dark-gray};

    --font-size: #{$base-font-size};
    --line-height: #{$base-line-height};

    --base-padding: #{$base-padding};
    --base-margin: #{$base-margin};
}